@import url(
'https://fonts.googleapis.com/css?family=Raleway'
);

@import url(
'https://fonts.googleapis.com/css?family=Open+Sans'
);

.customers {
    font-family: Raleway, serif;
    max-width: 1170px;
    padding: 50px 15px;
    background: #fdfdfd;
}

.customers__main {
    margin: 0 auto;
}

.customers__main__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.customers__main__separator {
    width: 143px;
    height: 0;
    border: 1px solid #EC7979;
    background: #EC7979;
}

.customers__main__subtitle {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #86878B;
    height: 50px;
    line-height: 40px;
    padding-top: 10px;
}

.customers__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers__info__block {
    transition: 0.5s;
    margin: 0 10px;
}

.customers__info__block__rectangle {
    width: 370px;
    height: 180px;
    background: #E2E2E2;
    border-radius: 10px;
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
}

.customers__info__block__triangle {
    margin-left: 50px;
    background: #fdfdfd;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
}

.customers__info__block__person {
    display: flex;
    align-items: center;
}

.customers__info__block__person__portrait {
    width: 70px;
    height: 70px;
}

.customers__info__block__person__text {
    position: relative;
    left: 20px;
}

.customers__info__block__person__text__name {
    font-family: 'Open Sans', serif;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.customers__info__block__person__text__pro {
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

@media screen and (min-width: 1281px) {
    .customers__info__block:hover {
        transform: scale(1.1);
    }

    .customers__main__subtitle:hover {
        font-weight: bolder;
    }

    .customers__main__title:hover {
        font-weight: bolder;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .customers__main__title {
        font-size: 24px;
        line-height: 28px;
    }

    .customers__main__separator {
        width: 144px;
    }

    .customers__main__subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .customers__info__block__rectangle {
        width: 317px;
        height: 180px;

    }

    .customers__info__block__person__portrait {
        width: 63px;
        height: 63px;
    }
}

@media screen and (max-width: 1023px) {


    .customers {
        padding: 20px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .customers__main {
        margin: 0 auto;
    }

    .customers__main__title {
        margin-bottom: 20px;
    }

    .customers__main__separator {
        width: 134px;
    }

    .customers__main__subtitle {
        line-height: 16px;
    }

    .customers__info__block {
        justify-content: center;
    }

    .customers__info__block:not(:first-child) {
        display: none;
    }

    .customers__info__block__rectangle {
        width: 288px;
        height: 180px;
    }

    .customers__info__block__person__portrait {
        width: 57px;
        height: 57px;
    }

    .customers__info__block__person__text__name {
        font-size: 14px;
        line-height: 19px;
    }

    .customers__info__block__person__text__pro {
        font-size: 13px;
        line-height: 15px;
    }

}