@import url(
'https://fonts.googleapis.com/css?family=Raleway'
);

@import url(
'https://fonts.googleapis.com/css?family=Open+Sans'
);

.main {
    font-family: Open Sans, serif;
    padding: 0 16px;
    max-width: 1170px;
}

.main__tabs {
    box-sizing: content-box;
    margin-bottom: -1px;
}

.main__tabs__item {
    display: inline-block;
    font-size: 14px;
    color: #333333;
    line-height: 30px;
    height: 30px;
    width: 170px;
    text-decoration: none;
    text-align: center;
}

.main__tabs__item__active {
    border-radius: 8px 8px 0 0;
    border: 1px solid lightgray;
    border-bottom-color: white;
}

.main__block {
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: 1px solid lightgray;
    box-sizing: content-box;
}

.main__block__text {
    flex-direction: column;
    height: 385px;
}

.main__block__text__h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.main__block__text__p {
    font-family: Raleway, serif;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-top: 60px;
    color: #000000;
}

.main__block__text__button {
    font-family: Open Sans, serif;
    background: #EC7979;
    height: 60px;
    width: 230px;
    color: white;
    border: none;
    margin-left: 80px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
}

.main__block__text__button:hover {
    background: rgba(0, 0, 0, 0);
    color: #EC7979;
    box-shadow: inset 0 0 0 3px #EC7979;
}

.main__block__image {
    width: 398.21px;
    height: 385px;
}
